<!-- <app-header></app-header> -->
<div class="container login">
    <div class="row">
        <div class="col-lg-4">
            <div class="card" style="width: 30rem;">
                <div class="card-body">
                  <h1 class="card-title">LOGIN</h1>
                    <form action="">
                        <div class="mb-3 row">
                            <label for="staticEmail" class="col-sm-3 col-form-label">Email</label>
                            <div class="col-sm-9">
                              <input type="text" class="form-control" id="staticEmail" placeholder="input email">
                            </div>
                          </div>
                          <div class="mb-3 row">
                            <label for="inputPassword" class="col-sm-3 col-form-label">Password</label>
                            <div class="col-sm-9">
                              <input type="password" class="form-control" id="inputPassword">
                            </div>
                          </div>
                          <div class="button-submit">
                              <button class="btn" routerLink="/register">Create an Account</button>
                              <button class="btn">Forgot Password</button>
                              <button class="btn btn-primary login-btn">Login</button>
                          </div>
                    </form>
                </div>
              </div>
        </div>
    </div>
</div>
