<section>
  <mat-toolbar>
    <mat-toolbar-row>
      <span>MY ANGULAR</span>
      <span class="example-spacer"></span>
      <mat-icon aria-hidden="false" aria-label="Example home icon">home</mat-icon>
    </mat-toolbar-row>
    
  </mat-toolbar>
</section>
<div class="container">
    <div class="row">      
      <div class="col lg-12">
        <button class="btn btn-primary" routerLink="/login">LOGIN</button>
        <button class="btn btn-primary" routerLink="/register">REGISTER</button>
      </div>
  </div>
